$square-size: 70px;

.chess-board {

  $light-square: #fff;
  $dark-square: #ddd;
  $hovered-square: #acf;
  $selected-square: #afc;
  $possible-move-light: #ffc;
  $possible-move-dark: #eeb;

  min-width: 8*$square-size;
  min-height: 8*$square-size;

  font-size: 48px;
  border-collapse: collapse;

  td {
    width: $square-size;
    height: $square-size;
    border: solid black 1px;
    text-align: center;
    background: $light-square;
    transition: background 0.25s;
    cursor: pointer;

    &:hover:not(.selected-square) {
      background: $hovered-square;
    }

    &.selected-square {
      background: $selected-square;
    }

    &.possible-move {
      background: $possible-move-light;
    }
  }

  tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    &:not(.selected-square) {
      background: $dark-square;

      &.possible-move {
        background: $possible-move-dark;
      }

      &:hover {
        background: $hovered-square;
      }
    }
  }
}

.game-caption {
  text-align: center;
}
