.chess-board {

  $light-square: #fff;
  $dark-square: #ddd;
  $hovered-square: #acf;
  $selected-square: #afc;

  cursor: default;

  font-size: 48px;
  border-collapse: collapse;

  td {
    width: 60px;
    height: 60px;
    border: solid black 1px;
    text-align: center;
    background: $light-square;

    transition: background 0.25s;

    &.occupied-square {
      cursor: pointer;
      &:hover:not(.selected-square) {
        background: $hovered-square;
      }
    }

    &.selected-square {
      background: $selected-square;
    }
  }

  tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    &:not(.selected-square) {
      background: $dark-square;

      &.occupied-square:hover {
        background: $hovered-square;
      }
    }
  }
}
